*{
    text-align:center;
    margin-top: 30px;
    background-color: antiquewhite;
}

#menu-principal{
    list-style: none;
    padding: 10%;
}

#menu-principal li{
    display: inline;
    color: rgb(105, 59, 2);
}

#menu-principal button{
    color: rgb(105, 59, 2);
    padding: 20px;
    text-decoration: rgb(226, 171, 103);
    display: inline;
    font-size: 30px;
}   

#conteudo-do-instagram li a{
    color:  rgb(105, 59, 2);
    font-size: 60px;
    display: inline;
}

h1{
    color:  rgb(105, 59, 2);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    text-align: center;
    height: 600px;
    width: auto;
}

footer{
    background-color: rgb(112, 66, 9);
    height: 200px;
    width: auto;
}



.caixa{
    display: flex;
    font-size: 20px;
}

.menuu{
    font-size: 70px;
}


body{
    display: flex;
    flex-direction: column;
}

.rodape{
   font-size: 20px;
}